

.body {
  background: #D8E8EA;
}

.textarea {
  background: #f8f9fa;
  border-radius: 15px;
  margin: 10px;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin: 3px;
  text-align: left;
  vertical-align: middle;
  width: 200px;
  text-size-adjust: 12;
  height: 50px;
  margin-left: 10px;
}

.btn {
  text-align: left !important;
  width: 100%;
  margin-top: 5px;
}

#emissions-selector {
  height: 50px;
}

#emissions-dropdown {
  visibility: hidden;
  list-style-type: none;
  height: wrap;
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;
}

#countries-dropdown {
  visibility: hidden;
  list-style-type: none;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.checkedEmissions {
  margin-right: 10px;
}

.checkedCountries {
  margin-right: 10px;
}

input {
  width: 14px;
  height: 19px;
  margin-top: 3px;
}

#slider {
  width: 700px;
  display: inline-block;
  color: 000;
}

.plot {
  background: #f8f9fa;
  border-radius: 15px;
  margin: 10px;
}

.navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  height: 100px;
  width: 100%;
  margin-top: 10px;
}