

.body {
  background: #D8E8EA;
}

.textarea {
  background: #f8f9fa;
  border-radius: 15px;
  margin: 10px;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin: 10px;
  text-align: left !important;
  vertical-align: middle;
  width: 250px;
  text-size-adjust: 12;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: #d3d2d2;
  height: 70px;
}

.dropdown-toggle {
  width: 100%;
  margin-top: 10px;
  height: 100%
}

#dropdown_elements {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  text-align: left;
  color: #000;
  background-color: #8bb098;
  border-color: #8bb098;
}

#current-filters {
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 80px;
  width: 800px;
  margin-right: 10px;
  text-align: left;
  border-radius: 10px;
  background: #d3d2d2;
  height: 70px;
}

#filters-title {
  text-align: left;
}

#emissions-selector {
  height: 50px;
}

#countries-selector {
  width: 250px;
  height: 50px;
}

#emissions-dropdown {
  visibility: hidden;
  list-style-type: none;
  height: wrap;
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;
  text-align: left !important;
  width: 100%;
  margin-top: 15px;
  background: #d3d2d2;
}

#countries-dropdown {
  visibility: hidden;
  list-style-type: none;
  height: 300px;
  overflow: scroll;
  height: wrap;
  overflow-x: hidden;
  text-align: left !important;
  width: 100%;
  margin-top: 15px;
  background: #d3d2d2
}

.checkedEmissions {
  margin-right: 10px;
}

.checkedCountries {
  margin-right: 10px;
}

input {
  width: 14px;
  height: 19px;
  margin-top: 3px;
}

#slider {
  display: inline-block;
  color: 000;
}

#year-text {
  padding-top: 5px;
  text-align: center;
}

.plot {
  background: #f8f9fa;
  border-radius: 15px;
  margin: 10px;
}

.my-navbar {
	position: -webkit-sticky;
	position: sticky;
  align-items: left;
  vertical-align: middle;
	top: 0;
  height: 110px;
  width: 100%;
  background-color: #dfdfdf;
  padding-top: 10px;
}